body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90vw;
    height: 90vh;
    overflow: hidden;
    position: relative;
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.4);
}

.login-form {
    padding: 5%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.login-content {
    width: 100%;
    max-width: 300px;
}

.login-form h2 {
    margin-bottom: 20px;
    text-align: center;
    font-family: "Nunito", sans-serif;
    font-weight: 800;
}

form {
    width: 100%;
}

.form-group {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
}

.form-group input {
    width: 83.6%;
    padding: 10px;
    padding-right: 40px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.form-group label {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    padding: 0 5px;
    font-size: 16px;
    color: #999;
    transition: 0.2s ease all;
    pointer-events: none;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
}

.form-group input:focus+label,
.form-group input:not(:placeholder-shown)+label {
    top: 0;
    font-size: 12px;
    color: #007bff;
}

.form-group .icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.login-form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.remember-me {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
}

.remember-me input {
    margin-right: 5px;
}

.login-image {
    width: 50%;
    background-image: url('https://images.unsplash.com/photo-1512850183-6d7990f42385?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
}

.social-signup {
    margin-top: 30px;
    text-align: center;
}

.social-signup p {
    margin-bottom: 20px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.social-icon {
    width: 90px;
    height: 40px;
    border: 1.5px solid #ddd;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.social-icon:hover {
    background-color: #dedede63;
}

.social-icon img {
    width: 20px;
    height: 20px;
}

.forgot-password {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.forgot-password a {
    color: #007bff;
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .login-form,
    .login-image {
        width: 100%;
    }

    .login-image {
        height: 30%;
    }

    .login-form {
        height: 70%;
    }

    .forgot-password {
        position: static;
        margin-top: 20px;
        text-align: center;
    }
}